.header{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    }
    .header_class{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-right: 1px solid lightgray;
    }
    .header_Right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 10vw;
    }
    .header_Right > a{
        padding: 20px;
        text-decoration: none;
    }
    .header_Right >a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 10%;
      }
      .header_search{
        display: flex;
        align-items: center;
        height: 39px;
        padding: 10px;
        margin-right: 95vh;
        }
        .header_searchContainer{
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 35px;
        border-radius: 20px;
        }
        .header_searchContainer > .MuiSvgIcon-root {
            color: gray;
            padding: 10px;
        }
        .header_searchContainer>input{
            border: none;
            outline-width: 0;
            margin-left: 10px;
        }